<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jzj.weatherlearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".global.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_weather"
        android:label="@string/app_name"
        android:largeHeap="false"
        android:roundIcon="@mipmap/ic_weather"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherLearn"
        tools:targetApi="31">
        <!--更新缓存信息服务-->
        <service
            android:name=".service.AutoUpdateWeatherInfoService"
            android:enabled="true"
            android:exported="true"></service>
        <!--展示天气信息页面-->
        <activity
            android:name=".ui.WeatherActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--城市列表选择页面-->
        <activity
            android:name=".ui.CitySelectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--城市管理页面-->
        <activity
            android:name=".ui.CityManageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--初始引导页-->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>